ion-view.view-details(view-title="{{ movieData.title }}")
  ion-content
    h4 {{ movieData.overview || "Pas de description"}}
    img.full-image(ng-if="movieData.poster_path", ng-src='{{ movieData.poster_path}}')

